# Python virtual environments
venv/
omr_env/
env/
.env/
.venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Output folders
output/
output/detect_omr/
output/omr_grader/

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
local_settings.py

# Dependencies
node_modules/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover 